.footer {
    background-color: #666666;
    padding-top: 25px;
    padding-bottom: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    margin: 0;
}

.text-center {
    text-align: center;  
}

.text-white {
    color: white;
}

.heading-font {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px; 
}

.heading-font-bold {
    font-weight: bold;
}

.heading-box {
    height: 45px;
    background-color: #4aaaa5;
    padding: 20px;
    padding-top: 28px;
    margin-left: 10%;   
}

.all-other-fonts {
    font-family: 'Arial', 'Helvetice Neue', Arial, Helvetica, sans-serif;
}

.teal-border {
   border-top: 6px solid #4aaaa5; 
}

header {
    border-bottom: 2px solid #cccccc;
}

ul {
    list-style-type: none;
    margin-right: 10%;
    padding: 35px;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.border-nav-bar {
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    padding: 0px 10px 0px 10px;

}

.padding-right {
    padding: 0px 10px 0px 0px;
}

.padding-left {
    padding: 0px 0px 0px 10px;
}

.image-padding {
    padding: 0px 20px 0px 0px;
}

a {
    color: #777777;
    text-decoration: none;
}

h1 {
    color: #4aaaa5;
    margin-top: 0;
}

hr {
    border: thin solid #cccccc;
    
}

#mainbackground {
    background-image: url('../images/concrete-texture.png');
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    height: 700px;  
}

.body-box {
    width: 960px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;
    border: thin solid #dddddd; 
}

p {
    line-height: 2.0;
    color: #777777;
}






